.feedback-form {
  position: fixed;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
}

.feedback-form input[type='email'],
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.feedback-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #0056b3;
}
